<nav
  class="navbar navbar-expand-lg navbar-light bg-light  justify-content-between mr-auto "
>
  <a class="navbar-brand text-primary" href="/">Blog On Rails</a>
  <div>
    <ul class="navbar-nav ">
      <li class="nav-item btn btn-outline-primary text">
        <%= link_to 'Posts', posts_path %>
      </li>
      <br />
      <li class="nav-item  btn btn-outline-primary text">
        <%= link_to 'New Post', new_post_path %>
      </li>
    </ul>
  </div>
</nav>
